body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 0.5em;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    margin: 0 0.5em;
}

nav a:hover {
    background-color: #555;
    color: #ffcc00;
}